body{
    margin: 0;
    padding: 0;
    background-image: url("cupp.jpg") ;
    background-size: 124%;
}
div h1 {
    color: rgb(199, 13, 13);
    text-align: center;
}
div h3{
    text-align: center;
    color: #fff;
}
form{
    margin: 0  auto;
    padding: 30px;
    width: 450px;
    border: 2px solid #fff ;
    color: #fff;
    font-weight: 200;
    font-size: 17px;
    font-family:'Times New Roman', Times, serif;
    background-color: rgba(43, 37, 37, 0.575) ;

}
form button{
    background-color: rgb(224, 5, 5);
    color: rgb(248, 244, 244);
    font-size: 17px;
}
footer{
    color: #fff;
    text-align: center;
}